@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";
@import "@fontsource-variable/inter";
@source "../node_modules/flowbite-svelte";

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}

@theme inline {
	--animate-pulse-slow: pulse-slow var(--duration) ease-out infinite;
	--animate-pulse-ring: pulse-ring var(--duration) ease-out infinite;
	--animate-pulse-ripple: pulse-ripple var(--duration) cubic-bezier(0.16, 1, 0.3, 1) infinite;
	@keyframes pulse-slow {
		0% {
			box-shadow: 0 0 0 0 var(--pulse-color);
		}
		100% {
			box-shadow: 0 0 0 var(--distance) transparent;
		}
	}
	@keyframes pulse-ring {
		0%, 100% {
			box-shadow: 0 0 0 0 var(--pulse-color, oklch(from var(--bg) l c h / 0.5));
		}
		50% {
			box-shadow: 0 0 0 var(--distance) var(--pulse-color, oklch(from var(--bg) l c h / 0.5));
		}
	}
	@keyframes pulse-ripple {
		0% {
			box-shadow: 0 0 0 0 oklch(from var(--pulse-color, var(--bg)) l c h / 1);
		}
		100% {
			box-shadow: 0 0 0 var(--distance) oklch(from var(--pulse-color, var(--bg)) l c h / 0);
		}
	}
}